.container {
  width: 400px;
  height: 400px;
  border: 10px solid black;
  margin: 50px;
  position: relative;
}

.caja-1 {
  width: 100px;
  height: 100px;
  background-color: red;
  opacity: 50%;


  position: absolute;

}

.caja-2 {
  width: 100px;
  height: 100px;
  background-color: green;
  opacity: 50%;


  position: absolute;
  right: 0;
}

.caja-3 {
  width: 100px;
  height: 100px;
  background-color: blue;
  opacity: 50%;


  position: absolute;
  bottom: 0;
}

.caja-4 {
  width: 100px;
  height: 100px;
  background-color: yellow;
  opacity: 50%;


  position: absolute;
  bottom: 0;
  right: 0;
}

.caja-5 {
  width: 100px;
  height: 100px;
  background-color: brown;
  opacity: 50%;


  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto
}



.text {
  width: 700px;
}

img {
  width: 40%;
  float: right ;
  padding: 1%;
}

.hola:hover {
  color: red;
}

.hola::selection {
  background-color: black;
}